<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>95816973391-sftdliv5j8eh7tg2t0q0of902vaboif0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.95816973391-sftdliv5j8eh7tg2t0q0of902vaboif0</string>
	<key>API_KEY</key>
	<string>AIzaSyCmRSY4cz97RteOA-NGsmJxfGFBnw-5Spw</string>
	<key>GCM_SENDER_ID</key>
	<string>95816973391</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.pgrzmil.moniesfl</string>
	<key>PROJECT_ID</key>
	<string>monies-bcc9e</string>
	<key>STORAGE_BUCKET</key>
	<string>monies-bcc9e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:95816973391:ios:d3baad813be6d5574f7e3a</string>
	<key>DATABASE_URL</key>
	<string>https://monies-bcc9e.firebaseio.com</string>
</dict>
</plist>